header {
  background-color: green;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  font-family: "Press Start 2P", cursive;
}

h3 {
  font-weight: bold;
  user-select: none;
  color: white;
}

.modal-title {
  text-align: center;
}

.bg {
  background-image: url("../img/background.jpg");
}

img,
header {
  user-select: none;
  pointer-events: none;
}

.logs {
  width: 400px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.atkSpeCara {
  height: 120px;
  position: absolute;
  top: 180px;
  left: 1160px;
}

.healCara {
  height: 66px;
  position: absolute;
  bottom: 510px;
  left: 700px;
  margin: 0;
  padding: 0;
}

.atkCara {
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 210px;
  left: 1150px;
}

.atkDraco {
  height: 60px;
  position: absolute;
  bottom: 510px;
  left: 700px;
  margin: 0;
  padding: 0;
}

.hideAtk {
  display: none;
}

.adv-div {
  text-align: end;
  padding: 2rem 14rem;
}

.pers-div {
  text-align: start;
  padding: 2rem 18rem;
  margin-bottom: 0;
}

.actions-div {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.bg-actions {
  background-color: green;
  color: white;
  padding: 2rem;
}

.atk-div,
.atk-spe-div,
.heal-div,
.give-up-div {
  font-weight: bold;
  background-color: red;
  color: white;
  text-align: center;
  padding: 0.6rem;
  width: 60%;
  border-radius: 10px;
  justify-self: center;
  cursor: pointer;
  user-select: none;
}

.atk-div:active,
.atk-spe-div:active,
.heal-div:active,
.give-up-div:active {
  transform: scale(0.95);
}

.atk-div {
  grid-row: 1;
  grid-column: 1;
}

.atk-spe-div {
  grid-row: 1;
  grid-column: 2;
}

.atk-spe-div-disabled {
  background-color: grey;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0.6rem;
  width: 60%;
  border-radius: 10px;
  justify-self: center;
  pointer-events: none;
  user-select: none;
}

.action-disabled {
  background-color: grey;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 0.6rem;
  width: 60%;
  border-radius: 10px;
  justify-self: center;
  pointer-events: none;
  user-select: none;
}

.heal-div {
  grid-column: 1;
  grid-row: 2;
}

.give-up-div {
  grid-column: 2;
  grid-row: 2;
}
